
.glyphicon-menu-left {
  opacity: 0; // do not display at small viewport
  padding:3px;
  background-color:rgba(0,0,0,.5);
  color: #fff;
  position:absolute;
  left:0;
  top: 65px;
  font-size: 25px;
  -moz-transition: -moz-transform .8s;
    -o-transition: -o-transform .8s;
    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s;
}
.glyphicon-menu-left.slide-out {
    -moz-transform: rotate(180deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(180deg);
    -ms-transform-origin: center;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: center;
    transform: rotate(180deg);
    transform-origin: center;
    -moz-transition: -moz-transform .8s;
    -o-transition: -o-transform .8s;
    -webkit-transition: -webkit-transform .8s;
    transition: transform .8s;
}
.mr10 {
    margin-right: 10px;
}
.highlight { 
	background-color: #FFE4C4;
}

.top-bar {             
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	height: 55px;	
    background-color: #E9DFD3;
}

.top-bar form {
    margin: 10px;
}

.map-wrapper {
	z-index: 2;
	position: relative;
	min-height: 100vh;
}

.map-container {
	position: fixed;
	width: 100%;
	height: 70vh;
	z-index: 999;
	top: 55px;
	left:0;
	right:0;
}

.map {
	height: 100%;
	width: 100%;
}

.widget {
	top: calc( 70vh + 55px);
	position: relative;
	z-index: 99;
  background-color: #FFFBF6;
	padding: 0 0 40px 0;
	transition: .5s;
}

.widget-header {
	bottom: 0;
    left: 0;
	position: fixed;
	z-index: 99;
	background-color: #E9DFD3;
    color: white;
    /*text-transform: uppercase;*/
    font-weight: normal;
    font-size: 11px;
    line-height: 24px;
    height: 40px;
    width:100%;
    padding:5px;
    text-align: center;
}

.brewery-list {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background-color: #FFFBF6;
}

.brewery-list li {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E9DFD3;
    transition: 1.8s;
}

.brewery-list h3 {
    margin: 10px 0 0 0;

}
.brewery-list .entry {
    padding: 10px;
}

.edit-icon, .remove-icon {
    display: none;
}
.brewery-list li:hover .edit-icon {
    position: absolute;
    bottom: 5px;
    right: 40px;
    display:block;
}
.brewery-list li:hover .remove-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: block;
}
.brewery-photos {
	/*height:200px;*/
	overflow: auto;
	white-space: nowrap;
	margin:0 0 0 -5px;
	padding:0;
}

.brewery-photos a{
	display: inline-block;
	margin-left:5px;
}


@media (min-width: 720px){
    .glyphicon-menu-left {
      opacity: 1;
    }
    
    .map-container {
    	padding:0;
    	height: calc( 100vh - 55px);
    	z-index: 1;
    }

    .widget {
    	left:0;
    	top:65px;
    	width:200px;
    	position: fixed;
    	overflow-y:scroll;
    	height: calc( 100vh - 65px);

    }

    .widget-header {
        bottom: 0;
        left: 0;
        width:200px;
        transition: .8s;
    }

    .search {
    	/*width:35%;*/
    	/*max-width: 350px;*/
    	transition: .8s;
    }

    .widget.slide-out {
      transform: translate3d( -175px ,0,0); 
    }
    /*.widget.slide-out .widget-header {
      opacity: 0;
      left: 0;
      bottom:0;
    }*/

    .slide-out .search {
    	top: 0px;
    	text-transform: .8s;
    }
}